header {
    margin: 50px;
}

.article {
    box-shadow: 0 0 1px;
    max-width: 600px;
}

.article p {
    width: auto;
}

.article a {
    text-decoration: none;
    color: black;
}

.article a:hover {
    text-decoration: underline;
}

.thumb {
    margin-top:20px;
    height: 150px;
}

.article-list-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.article-detail {
    margin-top: 50px;
}