body {
    text-align: center;
    background-color: #fdf5e6;
}

.nav-link {
    font-size: large;
}

.navbar-brand {
    position: absolute;
}

.nav-custom {
    background-color: #002f34;
}

.date {
    font-weight: lighter;
    font-size: 0.8rem;
}